apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: {{clusterRequest.clusterName}}
  region: {{clusterRequest.region}}
  version: "{{clusterRequest.k8sVersion}}"
vpc:
  id: "{{cluster.vpcId}}"
  cidr: "{{cluster.vpcCidr}}"
  subnets:
    private:
      {{#cluster.privateSubnets}}
      {{id}}:
        id: "{{subnet}}"
        cidr: "{{cidr}}"
      {{/cluster.privateSubnets}}
    public:
      {{#cluster.publicSubnets}}
      {{id}}:
        id: "{{subnet}}"
        cidr: "{{cidr}}"
      {{/cluster.publicSubnets}}
iam:
  serviceRoleARN: "{{cluster.serviceRoleArn}}"

nodeGroups:
  {{#clusterRequest.builder.nodeGroups}}
  - name: {{nodeGroupName}}
    labels: { pool: {{nodeGroupName}} }
    instanceType: {{instanceType}}
    desiredCapacity: {{desiredCapacity}}
    minSize: {{minSize}}
    maxSize: {{maxSize}}
    volumeSize: {{volumeSize}}
    volumeType: gp2
    iam:
      instanceProfileARN: "{{cluster.instanceProfileArn}}"
      instanceRoleARN: "{{cluster.instanceRoleArn}}"
    privateNetworking: true
    ssh:
      publicKeyName: '{{clusterRequest.user}}'
    tags:
      {{#cluster.tags}}
      '{{key}}': '{{value}}'
      {{/cluster.tags}}
      k8s.io/cluster-autoscaler/{{clusterRequest.clusterName}}: "owned"
      k8s.io/cluster-autoscaler/enabled: "true"
  {{/clusterRequest.builder.nodeGroups}}


{{#clusterRequest.clusterLogging}}
cloudWatch:
  clusterLogging:
    # enable specific types of cluster control plane logs
    enableTypes:  ["all"]
    # all supported types: "api", "audit", "authenticator", "controllerManager", "scheduler"
    # supported special values: "*" and "all"
{{/clusterRequest.clusterLogging}}


